.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs__header {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

.programs__categories {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 2rem;
    background: grey;
    color: #fff;
    justify-content: space-between;
    width: 18%;
    transition: .5s;
}

.category:hover {
    background: var(--planCard);
    cursor: pointer;
}

.category svg {
    fill: #fff;
    width: 2rem;
    height: 2rem;
}

.category .category__heading {
    font-size: 1rem;
    font-weight: 600;
}

.category .category__details {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
}

.category .join-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category .join-now span {
    position: relative;
    padding: 5px 8px;
    border: 1px solid #fff;
    transition: all .5s ease-in-out;
}

.category .join-now span:hover {
    cursor: pointer;
    background-color: #fff;
    color: gray;
}

.category .join-now img {
    width: 1rem;
}