.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs__header {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

.programs__categories {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 2rem;
    background: grey;
    color: #fff;
    justify-content: space-between;
    width: 18%;
    transition: .5s;
}

.category:hover {
    background: var(--planCard);
    cursor: pointer;
}

.category svg {
    fill: #fff;
    width: 2rem;
    height: 2rem;
}

.category .category__heading {
    font-size: 1rem;
    font-weight: 600;
}

.category .category__details {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
}

.category .join-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category .join-now span {
    position: relative;
    padding: 5px 8px;
    border: 1px solid #fff;
    transition: all .5s ease-in-out;
}

.category .join-now span:hover {
    cursor: pointer;
    background-color: #fff;
    color: gray;
}

.category .join-now img {
    width: 1rem;
}

@media screen and (max-width: 1024px) {
    .programs__categories {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-items: center;
        gap: 2rem;
    }
    .programs__categories .category {
        padding: 1rem;
        width: 90%;
        gap: .9rem;
    }
}

@media screen and (max-width: 768px) {
    .programs__header {
        flex-direction: column;
        gap: .9rem;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .programs__categories {
        display: grid;
        grid-template-columns: repeat(1, 200px);
        justify-items: center;
        gap: .9rem;
    }
    .programs__categories .category {
        padding: 1rem;
        width: 100%;
        gap: .9rem;
    }
    .programs__categories .category svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .programs__categories .category .category__heading {
        font-size: .8rem;
    }
    .programs__categories .category .category__details {
        font-size: .8rem;
    }
    .category .join-now span {
        font-size: .8rem;
    }
}